/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 oct. 2019, 18:24:57
    Author     : Valou
*/
/* -fx-padding: 26 40 26 40; */

/* Le fond */
.pane {
    -fx-background-color: #BAF3F5 ;
    -fx-border-color: whitesmoke;
}

/* Les labels sur le fond */
.logo {
    -fx-font-size: 1.5em;
    -fx-text-fill: #64bf76;
    -fx-alignment: CENTER;
}

.resultat {
    -fx-font-size: 2em;
    -fx-text-fill: #f22e2e;
    -fx-alignment: CENTER;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: Bold;
}

.commandes {
    -fx-font-size: 1.4em;
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: Bold;
}


/* LE MENU */

/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/
.context-menu {
    -fx-background-color: #8AD4D6;
}
.context-menu .separator:horizontal .line {
    -fx-border-color: -fx-box-border transparent transparent transparent;
}
.context-menu > .scroll-arrow {
    -fx-background-color: transparent;
}
.context-menu > .scroll-arrow:hover {
    -fx-background: -fx-selection-bar;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-text-background-color;
}
/*******************************************************************************
 *                                                                             *
 * Menu                                                                        *
 *                                                                             *
 ******************************************************************************/
.menu {
    -fx-background-color: transparent;
}
.menu > .right-container > .arrow {
    -fx-background-color: -fx-mark-color;
}
.menu:focused > .right-container > .arrow {
    -fx-background-color: -fx-focused-mark-color;
}
.menu:showing .label { /* Styles the text on a menu item when activated */ 
    -fx-text-fill: white;
}
.menu-up-arrow {
    -fx-background-color: derive(-fx-color,-2%);
}
.menu-down-arrow {
    -fx-background-color: derive(-fx-color,-2%);
}
/*******************************************************************************
 *                                                                             *
 * MenuBar                                                                     *
 *                                                                             *
 ******************************************************************************/
.menu-bar {
    -fx-background-color:
    linear-gradient(to bottom, derive(#BAF3F5,75%) 0%, white 90%),
    linear-gradient(to bottom, derive(#BAF3F5,46.9%) 2%, derive(#BAF3F5,-2.1%) 95%);
    -fx-border-color: #81BEF7 ;
}
/* Show nothing for background of normal menu button in a menu bar */
.menu-bar > .container > .menu-button {
    -fx-background-color: transparent;
}
/* Hide the down arrow for a menu placed in a menubar */
.menu-bar > .container > .menu-button > .arrow-button > .arrow {
    -fx-background-color: transparent;
}
.menu-bar > .container > .menu-button:hover {
    -fx-background-color: #EEBDFC
}
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: #8AD4D6;
}
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing  > .label {
    -fx-text-fill: black;
}
/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/
.menu-item {
    -fx-background-color: transparent;
}
.menu-item >.label {
    -fx-text-fill: white;
}
.menu-item:focused {
    -fx-background-color: #EEBDFC;
    -fx-text-fill:  black;
}
.menu-item:focused > .label {
    -fx-text-fill: -fx-focused-text-base-color;
}
.radio-menu-item:checked > .left-container > .radio {
    -fx-background-color: -fx-mark-color;
}
.radio-menu-item:focused:checked > .left-container > .radio {
    -fx-background-color: -fx-focused-mark-color;
}
.check-menu-item:checked > .left-container > .check {
    -fx-background-color: -fx-mark-color;
}
.check-menu-item:focused:checked > .left-container > .check {
    -fx-background-color: -fx-focused-mark-color;
}


/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-text-fill: black;
}
.tab-pane > .tab-header-area > .headers-region > .tab {
    /* bordure extérieure des onglets non sélectionnés, bordure intérieure, fond */ 
    -fx-background-color: darkblue, lightblue, white;
}
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    /*bordure en surbrillance quand onglet survolé*/
    -fx-color: -fx-hover-base;
}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: darkblue, lightblue, #BAF3F5;
}
.tab-pane > .tab-header-area > .tab-header-background {
-fx-background-color:
        -fx-outer-border, /* bordure supérieure */
        #BAF3F5, /* bordure supérieure aussi ? */
        linear-gradient(from 0px 0px to 0px 5px, #BAF3F5, derive(#BAF3F5, 30%));
}

 /*LES BOUTONS*/

.button,
.color-picker.split-button > .color-picker-label {
    /*-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
    -fx-background-color: #9999ff, #ccccff, linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%), linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%);
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;  
}


/* LES GRILLES */

.gridpane {
    -fx-border-color: whitesmoke;
    -fx-grid-lines-visible: true;
    /*-fx-border: 2px solid;*/
    -fx-halignment: center;
    -fx-valignment: center;
    -fx-alignment: CENTER;  
     
}

.tuile2 {
    -fx-background-color: #FF0082;
    -fx-border-color: whitesmoke;
}
.tuile4 {
    -fx-background-color: #FF0000;
    -fx-border-color: whitesmoke;
}
.tuile8 {
    -fx-background-color: #FF7300;
    -fx-border-color: whitesmoke;
}
.tuile16 {
    -fx-background-color: #FBF700;
    -fx-border-color: whitesmoke;
}
.tuile32 {
    -fx-background-color: #6ED61F;
    -fx-border-color: whitesmoke;
}
.tuile64 {
    -fx-background-color: #00B44B;
    -fx-border-color: whitesmoke;
}
.tuile128 {
    -fx-background-color: #00ADB2;
    -fx-border-color: whitesmoke;
}  
.tuile256 {
    -fx-background-color: #00AAFC;
    -fx-border-color: whitesmoke;
}
.tuile512 {
    -fx-background-color: #0055C1;
    -fx-border-color: whitesmoke;
}
.tuile1024 {
    -fx-background-color: #23029E;
    -fx-border-color: whitesmoke;
}
.tuile2048 {
    -fx-background-color: #780095;
    -fx-border-color: whitesmoke;
}
     
.valeurTuile {
    -fx-font-size: 2.5em;
    -fx-text-fill: black;
    -fx-font-weight: 800;
    -fx-alignment: CENTER;
}
     

