/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 oct. 2019, 18:24:57
    Author     : Valou
*/
/* -fx-padding: 26 40 26 40; */

/* Le client compétition */
.style-client-compet-fond {
    -fx-background-color: #BAF3F5 ;
    -fx-border-color: whitesmoke;
}

.style-client-compet-label {
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-alignment: CENTER;
}

.style-client-compet-bouton {
    -fx-background-color: #9999ff, #ccccff, linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%), linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%);
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;  
}

.style-client-compet-textField {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}
.style-client-compet-textField:focused {
    -fx-background-color:
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
}

.style-client-compet-textArea{
    -fx-padding: 0;
    -fx-cursor: default;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        derive(-fx-base,-1%);
}


/* Le serveur compétition */
.style-serveur-compet-fond {
    -fx-background-color: #BAF3F5 ;
    -fx-border-color: whitesmoke;
}

.style-serveur-compet-label {
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-alignment: CENTER;
}

.style-serveur-compet-bouton {
    -fx-background-color: #9999ff, #ccccff, linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%), linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%);
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;  
}

/* La page d'affichage des scores */
.style-scores-compet-fond {
    -fx-background-color: #BAF3F5 ;
    -fx-border-color: whitesmoke;
}

.style-scores-compet-label {
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-alignment: CENTER;
}

.style-scores-compet-bouton {
    -fx-background-color: #9999ff, #ccccff, linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%), linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%);
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;  
}



/* La page de choix de style */
.style-perso-fond {
    -fx-background-color: #BAF3F5 ;
    -fx-border-color: whitesmoke;
}

.style-perso-labels {
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-alignment: CENTER;
}

.style-perso-bouton {
    -fx-background-color: #9999ff, #ccccff, linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%), linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%);
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;  
}

.style-perso-colorPicker {
    -fx-background-color: #9999ff, #ccccff, linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%), linear-gradient(to bottom, derive(#cc99ff,75%) 0%, #ffcc66 90%);
    -fx-text-fill: black;
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;  
}

/* Le jeu */

.pane {
    -fx-background-color: #372E65 ;
    -fx-border-color: black;
}

.logo {
    -fx-font-size: 24;
    -fx-text-fill: darkorchid;
    -fx-alignment: CENTER;
    -fx-font-family: "System";
    -fx-font-weight: Bold;
    -fx-font-family: "Comic Sans MS";

}

.resultat {
    -fx-font-size: 18;
    -fx-text-fill: #8D89A1;
    -fx-alignment: CENTER;
    -fx-font-family: "Comic Sans MS";
    -fx-font-weight: Bold;
}

.commandes {
    -fx-text-fill: #8D89A1;
}

.score {
    -fx-text-fill: #8D89A1;
}
/* LE MENU */

/*******************************************************************************
 *                                                                             *
 * PopupMenu                                                                   *
 *                                                                             *
 ******************************************************************************/
.context-menu {
    -fx-background-color:
        linear-gradient(to bottom,
            derive(-fx-color,-17%),
            derive(-fx-color,-30%)
        ),
    -fx-control-inner-background;
}
.context-menu .separator:horizontal .line {
    -fx-border-color: -fx-box-border transparent transparent transparent;
}
.context-menu > .scroll-arrow {
    -fx-background-color: transparent;
}
.context-menu > .scroll-arrow:hover {
    -fx-background: -fx-selection-bar;
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-text-background-color;
}
/*******************************************************************************
 *                                                                             *
 * Menu                                                                        *
 *                                                                             *
 ******************************************************************************/
.menu {
    -fx-background-color: transparent;
}
.menu > .right-container > .arrow {
    -fx-background-color: -fx-mark-color;
}
.menu:focused > .right-container > .arrow {
    -fx-background-color: -fx-focused-mark-color;
}
.menu:showing .label { /* Styles the text on a menu item when activated */ 
    -fx-text-fill: black;
}
.menu-up-arrow {
    -fx-background-color: derive(-fx-color,-2%);
}
.menu-down-arrow {
    -fx-background-color: derive(-fx-color,-2%);
}
/*******************************************************************************
 *                                                                             *
 * MenuBar                                                                     *
 *                                                                             *
 ******************************************************************************/
.menu-bar {
    -fx-background-color:
    linear-gradient(to bottom, derive(-fx-base,75%) 0%, -fx-outer-border 90%),
    linear-gradient(to bottom, derive(-fx-base,46.9%) 2%, derive(-fx-base,-2.1%) 95%);
    -fx-border-color: none ;
}
/* Show nothing for background of normal menu button in a menu bar */
.menu-bar > .container > .menu-button {
    -fx-background-color: transparent;
}
/* Hide the down arrow for a menu placed in a menubar */
.menu-bar > .container > .menu-button > .arrow-button > .arrow {
    -fx-background-color: transparent;
}
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-background;
}
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing  > .label {
    -fx-text-fill: -fx-text-background-color;
}
/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/
.menu-item {
    -fx-background-color: transparent;
}
.menu-item > .left-container {
    -fx-padding: 0.458em 0.791em 0.458em 0.458em;
}
.menu-item >.label {
    -fx-text-fill: -fx-text-base-color;
}
.menu-item:focused {
    -fx-background-color: -fx-background;
    -fx-text-fill:  -fx-text-background-color;
}
.menu-item:focused > .label {
    -fx-text-fill: -fx-focused-text-base-color;
}
.radio-menu-item:checked > .left-container > .radio {
    -fx-background-color: -fx-mark-color;
}
.radio-menu-item:focused:checked > .left-container > .radio {
    -fx-background-color: -fx-focused-mark-color;
}
.check-menu-item:checked > .left-container > .check {
    -fx-background-color: -fx-mark-color;
}
.check-menu-item:focused:checked > .left-container > .check {
    -fx-background-color: -fx-focused-mark-color;
}


/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
-fx-text-fill: darkorchid;
}
.tab-pane > .tab-header-area > .headers-region > .tab {
-fx-background-color: #372E65;
}
.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-font-weight: Bold;

}
.tab-pane > .tab-header-area > .headers-region > .tab:selected {
-fx-background-color: #BAF3F5;
}
.tab-pane > .tab-header-area > .tab-header-background {
/* TODO should not be using text-box-border I think? */
-fx-background-color: #372E65;
}

/* LES BOUTONS */

.button,
.color-picker.split-button > .color-picker-label {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;  
}

 /* LES GRILLES */ 

.gridpane {
    -fx-border-color: black;
    -fx-grid-lines-visible: true;
    /*-fx-border: 2px solid;*/
    -fx-halignment: center;
    -fx-valignment: center;
    -fx-alignment: CENTER;  
     
}

.tuile2 {
    -fx-background-color: #81BEF7;
    -fx-border-color: black;
}
.tuile4 {
    -fx-background-color: #2ECCFA;
    -fx-border-color: black;
}
.tuile8 {
    -fx-background-color: #01A9DB;
    -fx-border-color: black;
}
.tuile16 {
    -fx-background-color: #5882FA;
    -fx-border-color: black;
}
.tuile32 {
    -fx-background-color: #642EFE;
    -fx-border-color: black;
}
.tuile64 {
    -fx-background-color: #0000FF;
    -fx-border-color: black;
}
.tuile128 {
    -fx-background-color: #1D4BCA;
    -fx-border-color: black;
}  
.tuile256 {
    -fx-background-color: #08298A;
    -fx-border-color: black;
}
.tuile512 {
    -fx-background-color: #A9A9F5;
    -fx-border-color: black;
}
.tuile1024 {
    -fx-background-color: #A9BCF5;
    -fx-border-color: black;
}
.tuile2048 {
    -fx-background-color: #2EFEF7;
    -fx-border-color: black;
}
     
.valeurTuile {
    -fx-font-size: 32;
    -fx-text-fill: black;
    -fx-font-weight: 800;
    -fx-alignment: CENTER;
}
     

