/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 oct. 2019, 09:39:29
    Author     : Amandine
*/


/* Le fond  */
.pane {
    -fx-background-color: #FBEFF2 ;
}


/* Le texte */
.logo {
    -fx-text-fill: #64bf76;
}

.resultat {
    -fx-text-fill: #f22e2e;
}

.commandes {
    -fx-text-fill: black;
}

/* Les tuiles */

.tuile2 {
    -fx-background-color: #F8ECE0;
}
.tuile4 {
    -fx-background-color: #F5D0A9;
}
.tuile8 {
    -fx-background-color: #FAAC58;
}
.tuile16 {
    -fx-background-color: #FF8000;
}
.tuile32 {
    -fx-background-color: #FF4000;
}
.tuile64 {
    -fx-background-color: #DF0101;
}
.tuile128 {
    -fx-background-color: #F4FA58;
}
.tuile256 {
    -fx-background-color: #F7D358;
}
.tuile512 {
    -fx-background-color: DBA901;
}
.tuile1024 {
    -fx-background-color: #8A4B08;
}
.tuile2048 {
    -fx-background-color: orange;
}