/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 oct. 2019, 18:24:57
    Author     : Valou
*/


.pane {
    -fx-background-color: #FBEFF2 ;
    -fx-border-color: black;
}

.gridpane {
     -fx-border-color: black;
     -fx-grid-lines-visible: true;
     /*-fx-border: 2px solid;*/
     -fx-halignment: center;
     -fx-alignment: CENTER;  
     
}

 .tuile {
      -fx-background-color: orange;

     }
 .valeurTuile {
     -fx-font-size: 32;
    -fx-padding: 26 40 26 40;
     }
     

