/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 oct. 2019, 18:24:57
    Author     : Valou
*/
/* -fx-padding: 26 40 26 40; */

.pane {
    -fx-background-color: #FBEFF2 ;
    -fx-border-color: black;
}

.gridpane {
    -fx-border-color: black;
    -fx-grid-lines-visible: true;
    /*-fx-border: 2px solid;*/
    -fx-halignment: center;
    -fx-valignment: center;
    -fx-alignment: CENTER;  
     
}

.tuile2 {
    -fx-background-color: #F8ECE0;
    -fx-border-color: black;
}
.tuile4 {
    -fx-background-color: #F5D0A9;
    -fx-border-color: black;
}
.tuile8 {
    -fx-background-color: #FAAC58;
    -fx-border-color: black;
}
.tuile16 {
    -fx-background-color: #FF8000;
    -fx-border-color: black;
}
.tuile32 {
    -fx-background-color: #FF4000;
    -fx-border-color: black;
}
.tuile64 {
    -fx-background-color: #DF0101;
    -fx-border-color: black;
}
.tuile128 {
    -fx-background-color: #F4FA58;
    -fx-border-color: black;
}
.tuile256 {
    -fx-background-color: #F7D358;
    -fx-border-color: black;
}   
.tuile512 {
    -fx-background-color: DBA901;
    -fx-border-color: black;
}
.tuile1024 {
    -fx-background-color: #8A4B08;
    -fx-border-color: black;
}
.tuile2048 {
    -fx-background-color: orange;
    -fx-border-color: black;
}
     
.valeurTuile {
    -fx-font-size: 32;
   -fx-text-fill: black;
   -fx-font-weight: 800;
    -fx-alignment: CENTER;
}
     

